@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --font-mont: var(--font-mont);
  --color-primary: #E0FF41;
  --color-dark: #0A0A0A;
  --color-light: #DBDAD6;
}

.center-xl {
  @apply mx-auto max-w-[1200px] px-4;
}

.center-lg {
  @apply mx-auto max-w-[720px] px-4;
}

.center-full {
  @apply mx-auto;
}

html {
  @apply scroll-smooth;
}